.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___6MoNr {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-Y0x6xthmymZHke);
}
.freeBox__eGfe {
  width: 100%;
  height: auto;
  max-width: var(--token-wKrp3hqFBjxXkC);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__eGfe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__eGfe > :global(.__wab_flex-container) > *,
.freeBox__eGfe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eGfe > :global(.__wab_flex-container) > picture > img,
.freeBox__eGfe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eGfe {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eGfe > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eGfe > :global(.__wab_flex-container) > *,
  .freeBox__eGfe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eGfe > :global(.__wab_flex-container) > picture > img,
  .freeBox__eGfe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__hHl6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__hHl6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hHl6 > :global(.__wab_flex-container) > *,
.freeBox__hHl6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hHl6 > :global(.__wab_flex-container) > picture > img,
.freeBox__hHl6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__sODd0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ljFeP {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox___19RhL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__nwx5D {
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__nwx5D:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__xmH0O {
  position: relative;
  font-size: 14px;
  color: var(--token-2SURRBT94De_0X);
}
.link__plKyy {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__plKyy:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__uQq67 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__uQq67 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__uQq67 > :global(.__wab_flex-container) > *,
.freeBox__uQq67 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uQq67 > :global(.__wab_flex-container) > picture > img,
.freeBox__uQq67
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uQq67 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uQq67 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uQq67 > :global(.__wab_flex-container) > *,
  .freeBox__uQq67 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uQq67 > :global(.__wab_flex-container) > picture > img,
  .freeBox__uQq67
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___65HbF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___65HbF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___65HbF > :global(.__wab_flex-container) > *,
.freeBox___65HbF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___65HbF > :global(.__wab_flex-container) > picture > img,
.freeBox___65HbF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__bfW6I {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__cUvmc {
  font-size: 14px;
  position: relative;
  color: var(--token-2SURRBT94De_0X);
}
.root .link__cUvmc:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ckw7C {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__ckw7C:hover {
  color: var(--token-NEon4Y--Z);
}
.link__yd7Jf {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__yd7Jf:hover {
  color: var(--token-NEon4Y--Z);
}
.link__hjAkT {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__hjAkT:hover {
  color: var(--token-NEon4Y--Z);
}
.link__lza7P {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__lza7P:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__bB5L1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__bB5L1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bB5L1 > :global(.__wab_flex-container) > *,
.freeBox__bB5L1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bB5L1 > :global(.__wab_flex-container) > picture > img,
.freeBox__bB5L1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ksXum {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__gTrLo {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__gTrLo:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cx1Gf {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__cx1Gf:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ucxt5 {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__ucxt5:hover {
  color: var(--token-NEon4Y--Z);
}
.link__yffXm {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__yffXm:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nkWg3 {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__nkWg3:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__aCz5N {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__aCz5N > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__aCz5N > :global(.__wab_flex-container) > *,
.freeBox__aCz5N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aCz5N > :global(.__wab_flex-container) > picture > img,
.freeBox__aCz5N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__jg7GP {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__vgxeZ {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__vgxeZ:hover {
  color: var(--token-NEon4Y--Z);
}
.link__kNcpI {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__kNcpI:hover {
  color: var(--token-NEon4Y--Z);
}
.link__dHvIz {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__dHvIz:hover {
  color: var(--token-NEon4Y--Z);
}
.link__dpgEc {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__dpgEc:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rsBu2 {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__rsBu2:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__xf8Ea {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__xf8Ea > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xf8Ea > :global(.__wab_flex-container) > *,
.freeBox__xf8Ea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xf8Ea > :global(.__wab_flex-container) > picture > img,
.freeBox__xf8Ea
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__zCmS {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__jpMhH {
  position: relative;
  font-size: 14px;
  color: var(--token-2SURRBT94De_0X);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg___0Dfk9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__y5NHe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg___3ThQs {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__qqQ59 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__j4Bcj {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-Y0x6xthmymZHke);
}
.freeBox___4F26Y {
  width: 100%;
  height: auto;
  max-width: var(--token-wKrp3hqFBjxXkC);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___4F26Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4F26Y {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4F26Y > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4F26Y > :global(.__wab_flex-container) > *,
  .freeBox___4F26Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4F26Y > :global(.__wab_flex-container) > picture > img,
  .freeBox___4F26Y
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__tVjWo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__uyfyv {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  height: auto;
  font-size: 14px;
}
.root .link__uyfyv:hover {
  text-decoration-line: underline;
}
.link__ut2Rk {
  position: relative;
  color: var(--token-2SURRBT94De_0X);
  font-size: 14px;
}
.root .link__ut2Rk:hover {
  text-decoration-line: underline;
}
.text__nHopK {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-2SURRBT94De_0X);
}
.freeBox__b7FQq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__b7FQq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__b7FQq > :global(.__wab_flex-container) > *,
.freeBox__b7FQq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b7FQq > :global(.__wab_flex-container) > picture > img,
.freeBox__b7FQq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink___0RpHx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__guolp {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__guolp:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__f9Ph:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zbGir {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__zbGir:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__opHa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zhwFf {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__zhwFf:hover {
  color: var(--token-dph1wZ7NjV9);
}
