.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__kdZiX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kdZiX {
    width: 100%;
  }
}
.plan__wYq7O:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__mGmj {
  font-size: 48px;
}
.freeBox___9NnGq {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___9NnGq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9NnGq > :global(.__wab_flex-container) > *,
.freeBox___9NnGq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9NnGq > :global(.__wab_flex-container) > picture > img,
.freeBox___9NnGq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___3G3IR:global(.__wab_instance) {
  position: relative;
}
.bullet__ow4QR:global(.__wab_instance) {
  position: relative;
}
.bullet__mCtyP:global(.__wab_instance) {
  position: relative;
}
.button__nvpT2:global(.__wab_instance) {
  position: relative;
}
.svg__nYt6A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__w38OW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__tkSkk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tkSkk {
    width: 100%;
  }
}
.plan__xgqOd:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__uLqv1 {
  font-size: 48px;
}
.freeBox___9LxEw {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___9LxEw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9LxEw > :global(.__wab_flex-container) > *,
.freeBox___9LxEw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9LxEw > :global(.__wab_flex-container) > picture > img,
.freeBox___9LxEw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__ftYGh:global(.__wab_instance) {
  position: relative;
}
.bullet___6EjcD:global(.__wab_instance) {
  position: relative;
}
.bullet__kkW9E:global(.__wab_instance) {
  position: relative;
}
.bullet__xWEl:global(.__wab_instance) {
  position: relative;
}
.button___6TlDx:global(.__wab_instance) {
  position: relative;
}
.svg__oMc0Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__s5PJ1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__kObkv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kObkv {
    width: 100%;
  }
}
.plan__bYvwH:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__hnKro {
  font-size: 48px;
}
.freeBox___4DJx4 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___4DJx4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___4DJx4 > :global(.__wab_flex-container) > *,
.freeBox___4DJx4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4DJx4 > :global(.__wab_flex-container) > picture > img,
.freeBox___4DJx4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__izqVs:global(.__wab_instance) {
  position: relative;
}
.bullet__sogmY:global(.__wab_instance) {
  position: relative;
}
.bullet__cw1H:global(.__wab_instance) {
  position: relative;
}
.button__haq26:global(.__wab_instance) {
  position: relative;
}
.svg__wgA5W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vfIuY {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__fp35F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__fp35F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__fp35F > :global(.__wab_flex-container) > *,
.freeBox__fp35F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fp35F > :global(.__wab_flex-container) > picture > img,
.freeBox__fp35F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__qpX4S:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__cNyyj:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
